@import "primereact/resources/themes/saga-blue/theme.css";

@import "primereact/resources/primereact.min.css";


@import "primeicons/primeicons.css";
@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";

.btn:focus {
  outline: none;
}

.p-component {
  background-color: #1e293b00;
  color: white;
}

.p-menuitem {
  color: #ffffff;
  background-color: rgb(208, 175, 237)
}

.p-splitbutton-button:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.p-splitbutton-menubutton:focus {
  outline: none;
  box-shadow: none;
  border: none;
}